/* navigation bar */

* {
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", sans-serif;
	color: #494848;
}

nav {
	border-top: 1px solid #dddddd;
	width: 100%;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	margin-right: 30px;
}

.logo {
	float: left;
	padding: 20px 0;
}

.nav {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	/* float: left; */
	padding: 15px;
	/* background-color: #202020; */
	font-weight: bold;
}

.wrap1 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.status {
	padding: 5px 87px;
	margin-right: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}

.grey {
	background-color: #afafaf;
	border: none;
	border: 1px solid #afafaf;
	color: white;
}

.blue {
	background: #2d98c7;
	border: none;
	border: 1px solid #2d98c7;
	color: white;
}

.skyblue {
	background: #4cb7b7;
	border: none;
	border: 1px solid #4cb7b7;
	color: white;
}

/* side menu  */

.sideMenu {
	width: 25%;
	height: 100vh;
	margin-right: 1%;
	float: left;
	background-color: #efefef;
	-webkit-box-shadow: 5px 5px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 19px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 19px -10px rgba(0, 0, 0, 0.75);
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
	height: 40px;
	width: 100%;
	border-bottom-left-radius: 20px;
	float: left;
	margin-bottom: 5px;
	cursor: pointer;
	text-transform: capitalize;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}
.item.active {
	background: #77bbd7;
	color: white;
}
.main {
	margin-top: 10px;
}

.mainRight {
	float: left;
	width: 74%;
}

.media {
	float: left;
}

.buttons {
	float: right;
}

.App-header {
	height: auto;
	width: 100%;
	padding: 10px;
}

.wrap {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	left: auto;
}

.icon {
	margin-right: 10px;
}

.button1 {
	height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	background: #2d98c7;
	border: none;
	border: 1px solid #2d98c7;
	cursor: pointer;
	margin-right: 5px;
	text-transform: uppercase;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}

.button2 {
	height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	background: #eb6b34;
	border: none;
	border-radius: 20px;
	border: 1px solid #eb6b34;
	cursor: pointer;
	margin-right: 5px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}

.button3 {
	height: 35px;
	padding-left: 35px;
	padding-right: 35px;
	color: white;
	background: #51a783;
	border: none;
	/* border-radius: 20px; */
	border: 1px solid #51a783;
	cursor: pointer;
	margin-right: 5px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}

.button4 {
	height: 35px;
	padding-left: 35px;
	padding-right: 35px;
	color: white;
	background: #2d98c7;
	border: none;
	/* border-radius: 20px; */
	border: 1px solid #2d98c7;
	cursor: pointer;
	margin-right: 5px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}

.title {
	color: #2d98c7;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0;
}

.total {
	width: 30%;
	margin-top: 10px;
	float: right;
}

.total table {
	color: #595959;
	font-weight: bold;
}

.final {
	color: #eb6b34;
}

.total table {
	border: none;
}

.total table tr td {
	border: none;
}

.sectionBg {
	width: 100%;
	height: auto;
	text-align: center;
}

.section {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	overflow: hidden;
}

table td,
table th {
	border-top: 1px solid #ecf0f1;
	padding: 10px;
}

table td {
	border-left: 1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
}

table th {
	background-color: #dddddd;
	color: #595959;
}

table tr:nth-of-type(even) td {
	/* background-color: #d9f4f2; */
}

table .total th {
	background-color: white;
}

table .total td {
	text-align: right;
	font-weight: 700;
}

.mobile-header {
	display: none;
}

@media only screen and (max-width: 760px) {
	/* p {
		display: block;
		font-weight: bold;
	} */
	table tr td:not(:first-child),
	table tr th:not(:first-child),
	table tr td:not(.total-val) {
		display: none;
	}
	table tr:nth-of-type(even) td:first-child {
		/* background-color: ; */
	}
	table tr:nth-of-type(odd) td:first-child {
		background-color: white;
	}
	table tr:nth-of-type(even) td:not(:first-child) {
		background-color: white;
	}
	table tr th:first-child {
		width: 100%;
		display: block;
	}
	table tr th:not(:first-child) {
		width: 40%;
		transition: transform 0.4s ease-out;
		transform: translateY(-9999px);
		position: relative;
		z-index: -1;
	}
	table tr td:not(:first-child) {
		transition: transform 0.4s ease-out;
		transform: translateY(-9999px);
		width: 60%;
		position: relative;
		z-index: -1;
	}
	table tr td:first-child {
		display: block;
		cursor: pointer;
	}
	table tr.total th {
		width: 25%;
		display: inline-block;
	}
	table tr td.total-val {
		display: inline-block;
		transform: translateY(0);
		width: 75%;
	}
}

@media only screen and (max-width: 300px) {
	table tr th:not(:first-child) {
		width: 50%;
		font-size: 14px;
	}
	table tr td:not(:first-child) {
		width: 50%;
		font-size: 14px;
	}
}

.choice {
	width: 100%;
	height: auto;
	float: left;
}

.footer {
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid #dddddd;
	background-color: #2d98c7;
	padding: 10px;
	height: 80px;
	color: white;
}

.right {
	padding: 20px;
	float: right;
}
.white {
	color: white;
}

.list ul {
	width: 100%;
	flex-grow: 4;
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	/* background-color: #f1f1f1; */
}

.container {
	width: 100%;
	flex-grow: 4;
	list-style: none;
	display: flex;
	color: #595959;
	justify-content: space-between;
	font-size: 20px;
}

.list ul li {
	float: left;
}

main {
	position: fixed absolute;
}

footer {
	width: 100%;
	float: left;
	height: auto;
}

.message {
	font-size: 20px;
	color: #2d98c7;
	text-align: center;
	margin-top: 50px;
}

.stats {
	width: 100%;
	float: left;
	margin-bottom: 50px;
}

.per {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 20px;
}

.coursLeft {
	width: 45%;
	float: left;
	border: 1px solid #dddddd;
	text-align: center;
}

.coursRight {
	width: 45%;
	float: right;
	border: 1px solid #dddddd;
	text-align: center;
}

.image {
	width: 130px;
	height: 80px;
	background: lightseagreen;
	border-radius: 10px;
	margin-top: 16px;
	margin-left: 20px;
	float: left;
	margin-bottom: 16px;
	margin-right: 20px;
}

.route {
	background-color: #f7c53e;
	color: white;
	text-align: center;
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	padding: 2px;
}

.livree {
	background-color: #9ac550;
	color: white;
	text-align: center;
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	padding: 2px;
}

.text {
	float: left;
	font-size: 20px;
}

/* steps */

:root {
	--line-border-fill: #9ac550;
	--line-border-empty: #e0e0e0;
}

/* body {
    background-color: #f9f9f9;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
} */

.steps {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}

.progress-container::before {
	content: '';
	/* must be added when using the ::before pseudoselector */
	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 2px;
	width: 100%;
	z-index: -1;
}

.progress-container2 {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.progress-container2::before {
	content: '';
	/* must be added when using the ::before pseudoselector */
	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 2px;
	width: 100%;
	z-index: -1;
}

.progress {
	background-color: var(--line-border-fill);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	/* centers the line vertically along the y-axis */
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: .4s ease;
}

.circle {
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid var(--line-border-empty);
	transition: .4s ease;
}

.circle3 {
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid var(--line-border-empty);
	transition: .4s ease;
}

.circle2 {
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	display: flex;
	justify-self: end;
	align-items: center;
	justify-content: center;
	border: 3px solid var(--line-border-empty);
	transition: .4s ease;
	margin-top: 10px;
}
.circle2.active {
	border-color: var(--line-border-fill);
	background-color: var(--line-border-fill);
	color: white;
	float: right;
}
.circle3.active {
	border-color: var(--line-border-fill);
	background-color: var(--line-border-fill);
	color: white;
}

.circle.active {
	border-color: var(--line-border-fill);
	background-color: var(--line-border-fill);
	color: white;
}

/* model */
.model {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.inner {
	background-color: #ecf0f1;
	width: 56%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
}

.top {
	background-color: #eaeaea;
	height: auto;
	width: 100%;
	float: left;
	padding: 30px;
	position: relative;
	border-radius: 15px;
	margin-bottom: 10px;
	font-weight: lighter;
}
.green {
	color: #9ac550;
	text-decoration: underline;
}
.check {
	width: 30%;
	text-align: right;
	height: auto;
	float: left;
}
.text {
	text-align: center;
	margin-left: 20px;
}
.download {
	color: #2d98c7;
	text-decoration: underline;
	font-size: 20px;
	float: left;
	margin-top: -8px;
	text-align: center;
}
.left {
	float: left;
	margin-right: 10px;
}
.title {
	color: #2d98c7;
	font-size: 20px;
	/* margin: 100px 0; */
}
.aqua {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}
.comminication {
	width: 100%;
	flex-grow: 3;
	list-style: none;
	display: flex;
	color: #595959;
	justify-content: space-between;
	font-size: 20px;
}
.comminication div p {
	float: left;
	margin: 35px 0;
}
.Modelicon {
	float: left;
}
.pro-text {
	height: auto;
	width: 105px;
	text-align: center;
}
.close {
	position: absolute;
	top: 25px;
	cursor: pointer;
}

.checkbox-round {
	width: 1.3em;
	height: 1.3em;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.checkbox-round:checked {
	background-color: #2d98c7;
}

/* Status Med*/
.mid-status {
	/* height: 30px; */
	padding: 5px 5px;
	/* display: flex; */
	color: white;
	background: #2d98c7;
	border: none;
	border: 1px solid #2d98c7;
	cursor: pointer;
	margin-right: 5px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}
.primary {
	background: #2d98c7;
	border: none;
	border: 1px solid #2d98c7;
	color: white;
}
.success {
	background: #84af27;
	border: none;
	border: 1px solid #84af27;
	color: white;
}
.danger {
	background: #e64f23;
	border: none;
	border: 1px solid #e64f23;
	color: white;
}
